
<div class="container">
  <div class="text-center mt-5 pt-2">
    <p class="wpp-main-title">A picture is worth a thousand words</p>
  </div>
  <!-- List of wallpaper -->
  <div class="wpp-center">
    <div class="category">
      <button type="button" class="category-btn active">
        Gallery
      </button>
      <button type="button" class="category-btn">
        Collection
      </button>
      <button type="button" class="category-btn">
        Statistics
      </button>
      <button type="button" class="category-btn">
        Followers
      </button>
      <button type="button" class="category-btn">
        Following
      </button>
    </div>
    <div class="filter">
      <select class="wpp-filter-select">
        <option value="pav">Photos and videos</option>
        <option value="photos">Photos</option>
        <option value="videos">Videos</option>
      </select>
      <select class="wpp-filter-select">
        <option value="recency">Recency</option>
        <option value="popularity">Popularity</option>
      </select>
    </div>
  </div>
  <ngx-masonry [options]="masonryOptions" class="row">
    <div ngxMasonryItem *ngFor="let item of wallpapers_data" class="grid-item">
      <div class='wpp'>
        <div class='wpp-hover-bg'></div>
        <img src={{item.img_path}} class='img-fluid wpp-img'>
        <button
          type='button'
          class='wpp-interact-btn download'
        >
          <i class="fi fi-rr-download"></i>
        </button>
        <button
          type='button'
          class='wpp-interact-btn love'
        >
          <i class="fi fi-rr-heart"></i>
        </button>
        <button
          type='button'
          class='wpp-interact-btn save'
        >
          <i class="fi fi-rr-bookmark"></i>
        </button>
      </div>
    </div>
  </ngx-masonry>
</div>