<div class="black-down-screen active animate-fadein" #main>
  <div class="upload-main-wrapper">
    <div class="upload-main" #uploadMain>
      <p>Upload to Swallpapers</p>
      <div *ngIf="!imageUrl" class="drag-drop-field" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)"
        (dragover)="onDragOver($event)" (drop)="onDrop($event)" #dragdropfield>
        <div class="drag-drop-img">
          <label for="fileInput" class="drag-drop-label">
            <img class="add-img" src="../../assets/graphics/add_img.png">
            <p class="add-img-title">
              Drag and drop images<br>or <span class="text-blue">browse</span> to choose a file
            </p>
          </label>
          <input id="fileInput" type="file" accept="image/jpeg, image/png" (change)="previewWallpaper()" class="drag-drop-input" />
        </div>
      </div>
      <div *ngIf="imageUrl" class="preview-img-holder" #previewImg>
        <img [src]="imageUrl" class="preview-img">
      </div>
      <div class="provide-infor-holder" #inforHolder>
        <div class="provide-infor-inner">
          <p class="provide-infor-title mb-2">One more step!</p>
          <div class="pii-holder mt-auto">
            <input 
              type="text" 
              class="provide-infor-input" 
              id="name" 
              placeholder="Wallpaper name"
              [(ngModel)]="pi_name"
            >
            <p class="provide-infor-error" [ngClass]="{'active': !isNameValid()}">Please fill</p>
          </div>
          <div class="pii-holder">
            <input 
              type="text" 
              class="provide-infor-input" 
              id="tags" 
              placeholder="Add a tag"
              [(ngModel)]="pi_tags"
            >
            <p class="provide-infor-error" [ngClass]="{'active': !isTagValid()}">Please fill</p>
          </div>
          <div class="pii-holder">
            <textarea 
              class="provide-infor-input des" 
              id="des"
              rows="3" 
              placeholder="Add a description (Optional)"
              [(ngModel)]="pi_des"
            ></textarea>
          </div>
          <div class="text-center mt-2">
            <button type="button" class="submit-btn" (click)="onClickSubmit()">
              Submit
            </button>
          </div>
        </div>
      </div>
      <div class="noti-holder" #notiHolder>
        <div class="provide-infor-inner">
          <div class="text-center">
            <img src="../../assets/graphics/checked.png" class="check-icon">
          </div>
          <p class="provide-infor-title mt-2">Upload wallpaper<br>successfully</p>
          <div class="text-center mt-2">
            <button type="button" class="submit-btn" (click)="onClickContinue()">
              Continue
            </button>
          </div>
        </div>
      </div>
      <div class="upload-onbottom">
        <hr class="separate-line">
        <div class="btn-wrapper" #btn_wrapper>
          <button type="button" class="browse-btn" (click)="browseWallpaper()" #browse_btn>
            Browse Another!
          </button>
          <div class="btn-holder right">
            <button type="button" class="cancel-btn" (click)="onCancelUpload()">
              Cancel
            </button>
            <button type="button" class="upload-btn" (click)="onClickUpload()" #upload_btn>
              Upload Now!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>