<div class="footer">
  <div class="row">
      <div class="col-4 p-5 ms-5 mt-5">
          <p class="footer-title">ABOUT US</p>
          <p class="footer-description">
            Discover stunning wallpapers and video wallpapers for your desktop and mobile devices on our platform. Share and download high-quality media for personal and commercial use. Welcome to your new source for creativity and inspiration.
          </p>
      </div>
      <div class="col pt-5 mt-5 ms-5">
          <p class="footer-sm-title">Office</p>
          <p class="footer-description">
              1264 Kha Van Can Road <br/>
              Linh Trung, Thu Duc <br/>
              Ho Chi Minh City <br/>
              Viet Nam, PC 71308
          </p>
          <p class="footer-email">sunrisecontinent.company@gmail.com</p>
          <p class="footer-phonenumber">+84-0337839146</p>
      </div>
      <div class="col pt-5 mt-5 ms-5">
          <p class="footer-sm-title">Link</p>
          <div class='footer-link-holder'>
              <a 
                  class='footer-link'
                  routerLink=""
              >
                  Home
              </a>
          </div>
          <div class='footer-link-holder'>
              <button 
                  class='footer-link'
                  type='button'
              >
                  Service
              </button>
          </div>
          <div class='footer-link-holder'>
              <button 
                  class='footer-link'
                  type='button'
              >
                  Community
              </button>
          </div>
          <div class='footer-link-holder'>
              <button 
                  class='footer-link'
                  type='button'
              >
                  About Us
              </button>
          </div>
      </div>
      <div class="col pt-5 mt-5 footer-last-part">
          <p class="footer-sm-title">Contact with us</p>
          <div class='d-inline-block pe-4 me-2'>
              <a 
                  target='_blank' 
                  rel='noreferrer' 
                  href="https://www.facebook.com/MinMinPD2211/" 
                  class='footer-icon'
              >
                  <i class="fa-brands fa-facebook"></i>
              </a>
          </div>
          <div class='d-inline-block pe-4 me-2'>
              <a 
                  target='_blank' 
                  rel='noreferrer' 
                  href="https://twitter.com/PHAN_DUONG_MINH" 
                  class='footer-icon'
              >
                  <i class="fa-brands fa-twitter"></i>
              </a>
          </div>
          <div class='d-inline-block pe-4 me-2'>
              <a 
                  target='_blank' 
                  rel='noreferrer' 
                  href="https://discord.gg/VTABagPraN" 
                  class='footer-icon'
              >
                  <i class="fa-brands fa-discord"></i>
              </a>
          </div>
      </div>
  </div>
  <div class='footer-copyright'>
      <div class='w-100'>
          <hr class='footer-line'/>
      </div>
      <p class='footer-phonenumber mb-0 pb-3'>
          Sunrise Continent Company © 2022 - All Right Reserved
      </p>
  </div>
</div>