
/* Wallpaper field */
.homecontent-wrapper {
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 4rem;
    background-color: white;
    background-image: url('../../assets/bgs/wppbg.jpg');
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
}
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
.wallpapers-title {
    font-family: 'Teko', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
}
#wallpapers {
    position: relative;
}

.user-card {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.user-card-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: white;
    border-radius: 0.5rem;
    filter: drop-shadow(0px 0px 6px #888888);
}
.user-avt-holder {
    position: relative;
    border: 2px solid black;
    margin: 40px 10px 40px 40px;
    padding: 5px;
    border-radius: 1rem;
    float: left;
    width: 35%;
    z-index: 999;
    background-color: white;
}
.user-avt {
    border-radius: 0.75rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    padding: 0px 10px 0px 40px;
}
.user-info-holder {
    margin-top: 65px;
}
.user-detail-holder {
    margin-bottom: 65px;
}
.user-name {
    font-family: MontserratBold, sans-serif;
    font-size: 35px;
    letter-spacing: -3px;
    margin-bottom: 0;
}
.user-usn {
    font-family: Sanchez, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.75;
}
.user-detail {
    font-family: MontserratMedium, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 12px;
    letter-spacing: 1px;
}
.user-album-title {
    font-family: MontserratBold, sans-serif;
    font-size: 30px;
}
.album-holder {
    position: relative;
    padding: 65px 50px 10px 50px;
    width: 100%;
    height: auto;
}
.user-center {
    position: relative;
    margin: 20px auto;
    width: 100%;
}
.wpp-storage-detail {
    font-family: MontserratMedium, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0;
}
.album-items-wrapper {
    display: flex;
    width: 100%;
    height: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.empty-graphic {
    width: 100%!important;
    height: auto!important;
    filter: drop-shadow(2px 2px 4px #888888);
}
.album-empty-wrapper {
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
}
.album-avt-holder {
    position: relative;
    justify-content: space-evenly;
    overflow: hidden;
    width: 100%;
    height: 80px;
    margin: 0.5rem 0rem;
    border-radius: 0.6rem;
}
.album-avt {
    filter: brightness(0.7);
}
.album-avt.ver1 {
    max-width: 100%;
    height: auto;
}
.album-avt.ver2 {
    max-height: 100%;
    width: auto;
}
.album-name {
    font-family: League_Spartan, sans-serif;
    font-size: 18px;
    text-shadow: 5px 4px 15px #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 999;
    pointer-events: none;
}
.album-btn-emu {
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}
.album-btn-emu:hover {
    filter: brightness(1.2);
    transform: scale(1.2);
}
.album-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.album-btn-wrapper {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.viewall-album-btn-holder {
    filter: drop-shadow(4px 4px 1px #303030);
    transition: all 0.3s ease-in-out;
    width: fit-content;
}
.viewall-album-btn-holder:hover {
    filter: drop-shadow(0px 0px 0px #303030);
    transform: translate(4px, 4px);
}
  
.viewall-album-btn, .create-album-btn {
    font-family: League_Spartan, sans-serif;
    color: black;
    background-color: #f7d763;
    border: 2px solid black;
    outline: none;
    border-radius: 0.4rem;
    text-decoration: none;
    padding: 5px 20px 3px 20px;
    transition: all 0.3s ease-in-out;
}
.create-album-btn {
    background-color: #1de06f!important;
}

.wpps-manage-btn {
    font-family: League_Spartan, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    padding: 8px 12px 6px 12px;
}
.wpps-manage-btn.add {
    background-color: #f7d763;
}
.wpps-manage-btn.follow {
    background-color: #05A081;
    color: white;
    transition: all 0.2s ease-in-out;
}
.wpps-manage-btn:hover.follow {
    background-color: #db0066;
    color: white;
    transform: scale(1.1);
}
.wpps-manage-btn.message,
.wpps-manage-btn.donate  {
    border: 2px solid black;
    background-color: #ffffff;
    transition: all 0.2s ease-in-out;
}
.wpps-manage-btn:hover.message,
.wpps-manage-btn:hover.donate  {
    transform: scale(1.1);
    background-color: #000000;
    color: white;
}
.profile-detail {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.profile-detail-holder {
    margin-right: 1.4rem;
    margin-top: auto;
    margin-bottom: auto;
}

.profile-detail-holder.ranking {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-detail-holder.view {
    text-align: center;
}
.profile-detail-icon {
    height: 60px;
    width: 60px;
}
.profile-detail-left {
    float: left;
}
.header-separate-line {
    width: 90%;
}