
/* Wallpaper field */
.homecontent-wrapper {
    position: relative;
    padding-bottom: 4rem;
    background-color: white;
    min-height: 100vh;
    width: 100vw;
}
.profile {
    padding: 2rem 0px 4px 0px ;
}
.homecontent-wrapper > .profile {
    background-color: rgb(27, 27, 27)!important;
}
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
.wallpapers-title {
    font-family: 'Teko', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
}
#wallpapers {
    position: relative;
}

.user-card {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.user-avt-holder {
    position: relative;
    border: 2px solid black;
    margin: 40px 10px 20px 40px;
    padding: 5px;
    border-radius: 1rem;
    float: left;
    width: 35%;
    z-index: 999;
    background-color: white;
}
.user-avt {
    border-radius: 0.75rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-text {
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    padding: 0px 10px 0px 40px;
}
.user-info-holder {
    margin-top: 60px;
}
.user-detail-holder {
    margin-bottom: 30px;
}
.user-name {
    font-family: MontserratBold, sans-serif;
    font-size: 45px;
    letter-spacing: -3px;
    margin-bottom: 0;
}
.user-usn {
    font-family: Sanchez, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.75;
}
.user-detail {
    font-family: MontserratMedium, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 12px;
    letter-spacing: 1px;
}
.user-album-title {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 72px;
    margin-bottom: 0!important;
}
.stat-icon {
    width: 60px;
    height: 60px;
}
.album-holder {
    position: relative;
    padding: 65px 50px 10px 50px;
    width: 100%;
    height: auto;
    border-left: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 10px 10px 0px 40px;
}
.statistic {
    display: flex;
    padding-bottom: 40px;
    width: 100%;
    justify-content: space-between;
    position: relative;
}
.statistic-key {
    width: 100%;
}
.statistic-line {
    position: relative;
    width: 100%;
}
.statistic-line > span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 0.5px;
    background-color: #ffffff;
    border: none;
    opacity: 1;
    outline: none;
}
.wpp-storage-detail {
    z-index: 999;
    background-color: rgb(27,27,27);
    padding: 0px 10px 0px 0px;
    position: relative;
    width: fit-content!important;
}
.statistic-val {
    padding-left: 10px;
}
.user-center {
    position: relative;
    margin: 20px auto;
    width: 100%;
}
.wpp-main-title {
    font-family: miracles, sans-serif;
    font-size: 48px;
    color: white;
    margin-bottom: 5px;
}
.wpp-storage-detail {
    color: white;
    font-family: MontserratMedium, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0;
    width: 100%;
}
.empty-graphic {
    width: 100%!important;
    height: auto!important;
    filter: drop-shadow(2px 2px 4px #888888);
}

.wpps-manage-btn {
    font-family: League_Spartan, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    padding: 8px 12px 6px 12px;
}
.wpps-manage-btn.add {
    background-color: #f7d763;
}
.wpps-manage-btn.follow {
    background-color: #05A081;
    color: white;
    transition: all 0.2s ease-in-out;
}
.wpps-manage-btn:hover {
    box-shadow: 0px 0px 6px #888888;
}
.wpps-manage-btn:hover.follow {
    background-color: #db0066;
    color: white;
    transform: scale(1.1);
}
.wpps-manage-btn.message,
.wpps-manage-btn.donate  {
    border: 2px solid black;
    background-color: #ffffff;
    transition: all 0.2s ease-in-out;
}
.wpps-manage-btn:hover.message,
.wpps-manage-btn:hover.donate  {
    transform: scale(1.1);
    background-color: #000000;
    color: white;
}
.profile-detail {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.profile-detail-holder {
    margin-right: 1.4rem;
    margin-top: auto;
    margin-bottom: auto;
}

.profile-detail-holder.ranking {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-detail-holder.view {
    text-align: center;
}
.profile-detail-icon {
    height: 60px;
    width: 60px;
}
.profile-detail-left {
    float: left;
}
.header-separate-line {
    width: 90%;
}
.wpp-center {
    display: inline-block;
    width: 100%;
    margin: 2rem 0px 2rem 0px;
}
.category {
    float: left;
}
.category-btn {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: League_Spartan, sans-serif;
    font-size: 20px;
    color: #535353;
    transition: all 0.2s ease-in-out;
    padding: 5px 20px;
    margin-right: 10px;
}

.category-btn:hover {
    color: black;
}

.category-btn.active {
    background-color: black;
    border-radius: 0.6rem;
    color: white;
}
.filter {
    float: right;
}
.wpp-filter-select {
    font-family: League_Spartan, sans-serif;
    font-size: 20px;
    padding: 10px 20px 8px 20px;
    margin-left: 20px;
    border-radius: 0.5rem;
    outline: none;
    border: 2px solid #acacac;
    transition: all 0.2s ease-in-out;
}

.wpp-filter-select:hover {
    border-color: black;
}