
/* Header style */
.header-wrapper {
    background-image: url('../../assets/bgs/header_bg.png');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.home-navbar {
    padding: 0px 0px 0px 20px;
    height: 10%;
}
.home-navlogo-holder {
    height: 100%;
    display: flex;
    align-items: center;
}
.home-navlogo {
    filter: drop-shadow(0px 0px 3px #b4b4b4);
    height: 70%;
}
.calendar-notify-text {
    font-family: Kollektif, sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    filter: drop-shadow(-4px 3px 10px #e4d2d2);
}
.intro-text {
    font-family: BebasNeue, sans-serif;
    color: white;
    font-size: 130px;
    line-height: 110px;
    filter: drop-shadow(-4px 3px 5px #4b4b4b);
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-nav-content {
    padding: 0px 0px 0px 20px;
    height: 77%;
}
.header-copyright {
    font-family: PlaylistScript, sans-serif;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}
.login-btn {
    position: relative;
    box-shadow: 0px 0px 10px #4b4b4b;
    font-family: Roboto_Mono, sans-serif;
    height: 47px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    border: none;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    text-transform: uppercase;
}
.login-btn.ver1 {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
}
.login-btn.ver2 {
    background-color: #3a4aae;
    color: #ffffff;
    width: 50%;
    transition: all 0.1s ease-in-out;
}
.login-btn.ver3 {
    transition: all 0.1s ease-in-out;
    background-color: #fcfcfc;
    color: #000000;
    width: 50%;
}
.login-btn:hover.ver3 {
    background-color: #d8d8d8;
}
.login-btn:hover.ver2 {
    background-color: #2e3c9b;
}
.login-btn.ver1:before, .login-btn.ver1:after {
    content: '';
    display: block;
    position: absolute;
    width: 10%;
    height: 10%;
    transition: all 0.8s ease-in-out;
}
.login-btn.ver1:before {
    top: 0;
    left: 0;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.login-btn.ver1:after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
}
.login-btn.ver1:hover:before, .login-btn.ver1:hover:after {
    width: 100%;
    height: 100%;
}
.login-btn.ver1:hover {
    color: rgb(0, 0, 0)!important;
    background-color: rgb(255, 255, 255)!important;
    border-top-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
}
.login-btn-wrapper {
    transform: translateX(6em);
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.login-btn-wrapper.active {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}
.btn-wrapper {
    width: 50%;
}
.login-btn-holder {
    position: relative;
    display: flex;
    justify-content: center;
}
.login-btn-icon {
    transform: translateY(-2px);
    width: 20px;
    height: 20px;
}
.login-btn-icon.google {
    background-color: transparent;
    filter: drop-shadow(-2px 2px 2px #bebebe);
}
.register-now-text {
    font-family: Kollektif, sans-serif;
    color: white;
}
.register-now-link {
    color: rgb(195, 195, 255);
    border: none;
    outline: none;
    background-color: transparent;
}
.register-now-link:hover {
    color: rgb(107, 107, 254);
    text-decoration: none;
}

/* Sunrise account login form */
.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3 ease-in-out;
}
.login-error-notification {
    font-family: Roboto_Mono, sans-serif;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: flex-end;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    white-space: nowrap;
}
.register-error-notification {
    font-family: Roboto_Mono, sans-serif;
    visibility: hidden;
    opacity: 0;
    width: fit-content;
    height: 60px;
    color: rgb(255, 0, 0);
    margin: 1rem auto;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    white-space: nowrap;
}
.login-error-notification.active, .register-error-notification.active {
    visibility: visible;
    opacity: 1;
}
.salogin-input-holder {
    position: relative;
    padding: 5px;
}
.llbl.active {
    left: 5px!important;
    opacity: 0!important;
}
.salogin-label {
    font-family: Roboto_Mono, sans-serif;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}
.salogin-input {
    outline: none;
    border: 1px black solid;
    border-radius: 0.6rem;
    padding: 10px 20px;
    width: 90%;
    box-shadow: 0px 3px 3px #272727;
}
.commit-login-btn, .commit-register-btn {
    background-color: rgb(187, 252, 255); /* Default */
    border: none;
    outline: none;
    font-family: Roboto_Mono, sans-serif;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 0px 6px #000000;

    /* Prepare Hover Effect */
    transition: background-position 0.3s ease-in-out, color 0.2s ease-in-out;
}
.commit-register-btn {
    background: linear-gradient(to left, rgb(187, 252, 255) 50%, rgb(3, 153, 40) 50%);
    background-size: 210%;
    background-position: right;
}
.commit-login-btn {
    background: linear-gradient(to left, rgb(187, 252, 255) 50%, rgb(55, 33, 255) 50%);
    background-size: 210%;
    background-position: right;
}
.commit-register-btn:hover {
    background-position: left;
    color: white;
}
.commit-login-btn:hover {
    background-position: left;
    color: white;
}
.register-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30em, -50%);
    width: 400px;
    height: fit-content;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.register-wrapper.active {
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1;
}
.register-data-holder {
    background-image: url('../../assets/bgs/dawn.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    padding: 3rem 1rem 0rem 1rem;
    box-shadow: 0px 0px 5px #3b3b3b;
}
.register-title {
    font-family: Roboto_Mono, sans-serif;
    text-align: center;
    color: black;
    font-size: 17px;
}
.register-form {
    position: relative;
    margin-top: 3rem;
    text-align: center;
}