
/* Header style */
.header-wrapper {
    background-image: url('../../assets/bgs/header_bg.png');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.home-navbar {
    padding: 0px 0px 0px 20px;
    height: 13%;
}
.home-navlogo {
    height: 100%;
}
.calendar-notify-text {
    font-family: Kollektif, sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
}
.intro-text {
    font-family: BebasNeue, sans-serif;
    color: white;
    font-size: 130px;
    line-height: 110px;

}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-nav-content {
    padding: 0px 0px 0px 20px;
    height: 77%;
}
.header-copyright {
    font-family: PlaylistScript, sans-serif;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}
.login-btn {
    position: relative;
    box-shadow: 0px 0px 10px #4b4b4b;
    font-family: Roboto_Mono, sans-serif;
    height: 47px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    border: none;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    text-transform: uppercase;
}
.login-btn.ver1 {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
}
.login-btn.ver2 {
    background-color: #3a4aae;
    color: #ffffff;
    width: 50%;
}
.login-btn.ver3 {
    background-color: #fcfcfc;
    color: #000000;
    width: 50%;
}
.login-btn.ver1:before, .login-btn.ver1:after {
    content: '';
    display: block;
    position: absolute;
    width: 10%;
    height: 10%;
    transition: all 0.8s ease-in-out;
}
.login-btn.ver1:before {
    top: 0;
    left: 0;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.login-btn.ver1:after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
}
.login-btn.ver1:hover:before, .login-btn.ver1:hover:after {
    width: 100%;
    height: 100%;
}
.login-btn.ver1:hover {
    color: rgb(0, 0, 0)!important;
    background-color: rgb(255, 255, 255)!important;
    border-top-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
}
.login-btn-wrapper {
    margin: auto;
}
.btn-wrapper {
    width: 50%;
}
.login-btn-holder {
    position: relative;
    display: flex;
    justify-content: center;
}
.login-btn-icon {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}
.register-now-text {
    font-family: Kollektif, sans-serif;
    color: white;
}
.register-now-link {
    color: rgb(131, 131, 255);
    text-decoration: none;
}
.register-now-link:hover {
    color: rgb(107, 107, 254);
    text-decoration: none;
}

/* Sunrise account login form */
.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3 ease-in-out;
}
.usn-input-holder,.psw-input-holder {
    position: relative;
    padding: 5px;
}
.usn-label,.psw-label {
    font-family: Roboto_Mono, sans-serif;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}
.usn-input,.psw-input {
    outline: none;
    border: 1px black solid;
    border-radius: 0.6rem;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0px 3px 3px #272727;
}
.commit-login-btn {
    background-color: rgb(187, 252, 255); /* Default */
    border: none;
    outline: none;
    font-family: Roboto_Mono, sans-serif;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 0px 6px #000000;

    /* Prepare Hover Effect */
    background: linear-gradient(to left, rgb(187, 252, 255) 50%, rgb(55, 33, 255) 50%);
    background-size: 200%;
    background-position: right;
    transition: background-position 0.3s ease-in-out, color 0.2s ease-in-out;
}
.commit-login-btn:hover {
    background-position: left;
    color: white;
}